# Access to the ticket system is disabled until
# we are ready to give out tickets for SR2013
Deny from all

AuthType basic
AuthName "Student Robotics Ticketing system"
AuthBasicProvider ldap

AuthLDAPURL ldap://localhost:389/ou=users,o=sr?uid?base?(objectClass=*)
Require valid-user

DirectoryIndex get-ticket.php

<Files tickets>
Order deny,allow
Deny from all
Satisfy All
</Files>
